In [1]:
from imputationLibrary import forwardFilling, randomSampleImputation, meanImputation, movingAverage, splineInterpolation, separate
from imputationLibrary.util import util
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
INPUT, OUTPUT = 'output/\CompleteWeeklyIndexes', 'output/\KNNWeeklyImputed'

In [3]:
df = pd.read_csv(INPUT+'.csv', parse_dates=True, index_col=0)
df_test = df.loc['2015-01-02':] #Selecting test data
df = df.loc['2000-01-01':'2015-01-01'] #Selecting training data

In [4]:
df_test.tail()

,sp500_Close,sp500_Volume,vix_Close,vix_Volume,dji_Close,dji_Volume,ndx_Close,ndx_Volume,n225_Close,n225_Volume,...,hsi_Close,hsi_Volume,n100_Close,n100_Volume,Overall EMV Tracker,infectious_daily_infect_emv_index,GPR,trade_US Trade Policy Uncertainty,trade_Japanese Trade Policy Uncertainty,trade_Trade Policy EMV Fraction
2020-02-14,3380.159912,3.398040e+09,13.680000,0.0,29398.080078,231000000.0,9623.580078,2.222240e+09,23687.589844,69100.0,...,27815.599609,1.445336e+09,1174.349976,204479200.0,NaN,1.23,NaN,NaN,NaN,NaN
2020-02-21,3337.750000,3.899270e+09,17.080000,0.0,28992.410156,311210000.0,9446.690430,2.743010e+09,23386.740234,62100.0,...,27308.810547,1.773613e+09,1164.170044,238290800.0,NaN,6.68,NaN,NaN,NaN,NaN
2020-02-28,2954.219971,8.563850e+09,40.110001,0.0,25409.359375,915990000.0,8461.830078,5.301170e+09,21142.960938,148500.0,...,26129.929688,3.191426e+09,1021.979980,655553200.0,24.443546,40.41,NaN,NaN,NaN,NaN
2020-03-06,2972.370117,6.552140e+09,41.939999,0.0,25864.779297,599780000.0,8530.339844,4.279850e+09,20749.750000,111700.0,...,26146.669922,2.646519e+09,994.770020,465581400.0,NaN,25.19,NaN,NaN,NaN,NaN
2020-03-13,2711.020020,8.258670e+09,57.830002,0.0,23185.619141,843080000.0,7995.259766,4.685890e+09,17431.050781,233400.0,...,24032.910156,5.495156e+09,800.750000,797087400.0,NaN,50.91,NaN,NaN,NaN,NaN

In [5]:
df.head()

,sp500_Close,sp500_Volume,vix_Close,vix_Volume,dji_Close,dji_Volume,ndx_Close,ndx_Volume,n225_Close,n225_Volume,...,hsi_Close,hsi_Volume,n100_Close,n100_Volume,Overall EMV Tracker,infectious_daily_infect_emv_index,GPR,trade_US Trade Policy Uncertainty,trade_Japanese Trade Policy Uncertainty,trade_Trade Policy EMV Fraction
2000-01-07,1441.469971,1.225200e+09,21.719999,0.0,11522.559570,184900000.0,3529.600098,1.634930e+09,18193.410156,0.0,...,15405.629883,0.0,943.880005,0.0,NaN,0.00,NaN,NaN,NaN,NaN
2000-01-14,1465.150024,1.085900e+09,19.660000,0.0,11722.980469,266830000.0,3704.739990,1.656630e+09,18956.550781,0.0,...,15542.230469,0.0,973.859985,0.0,NaN,0.00,NaN,NaN,NaN,NaN
2000-01-21,1441.359985,1.209800e+09,20.820000,0.0,11251.709961,205840000.0,3849.959961,1.923680e+09,18878.089844,0.0,...,15108.410156,0.0,951.510010,0.0,NaN,0.00,NaN,NaN,NaN,NaN
2000-01-28,1360.160034,1.095800e+09,26.139999,0.0,10738.870117,183090000.0,3446.129883,1.616370e+09,19434.779297,0.0,...,16185.940430,0.0,948.210022,0.0,24.412899,0.00,NaN,71.914247,117.577146,0.033573
2000-02-04,1424.369995,1.045100e+09,21.540001,0.0,10963.799805,166590000.0,3874.370117,1.751450e+09,19763.130859,0.0,...,NaN,NaN,1010.429993,0.0,NaN,0.75,NaN,NaN,NaN,NaN

In [6]:
df_white_noise, df_seasonal, df_trended, df_trend_and_seasonal = separate.separate(df)

C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "
C:\Users\silva\AppData\Roaming\Python\Python36\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [7]:
df_white_noise

            vix_Volume  infectious_daily_infect_emv_index         GPR
2000-01-07         0.0                               0.00         NaN
2000-01-14         0.0                               0.00         NaN
2000-01-21         0.0                               0.00         NaN
2000-01-28         0.0                               0.00         NaN
2000-02-04         0.0                               0.75         NaN
2000-02-11         0.0                               0.74         NaN
2000-02-18         0.0                               0.00         NaN
2000-02-25         0.0                               0.00         NaN
2000-03-03         0.0                               0.00         NaN
2000-03-10         0.0                               0.00         NaN
2000-03-17         0.0                               0.00         NaN
2000-03-24         0.0                               0.00         NaN
2000-03-31         0.0                               0.76         NaN
2000-04-07         0.0                               0.00         NaN
2000-04-14         0.0                               1.48         NaN
2000-04-21         NaN                               1.54         NaN
2000-04-28         0.0                               0.00         NaN
2000-05-05         0.0                               5.82         NaN
2000-05-12         0.0                               0.72         NaN
2000-05-19         0.0                               0.72         NaN
2000-05-26         0.0                               0.00         NaN
2000-06-02         0.0                               0.00         NaN
2000-06-09         0.0                               0.00         NaN
2000-06-16         0.0                               0.71         NaN
2000-06-23         0.0                               0.00         NaN
2000-06-30         0.0                               1.62         NaN
2000-07-07         0.0                               0.00         NaN
2000-07-14         0.0                               0.00         NaN
2000-07-21         0.0                               0.00         NaN
2000-07-28         0.0                               0.00         NaN
...                ...                                ...         ...
2014-06-06         0.0                               0.00         NaN
2014-06-13         0.0                               0.00         NaN
2014-06-20         0.0                               0.00         NaN
2014-06-27         0.0                               0.00         NaN
2014-07-04         NaN                               0.00         NaN
2014-07-11         0.0                               0.00         NaN
2014-07-18         0.0                               0.00         NaN
2014-07-25         0.0                               0.48         NaN
2014-08-01         0.0                               0.00  200.824491
2014-08-08         0.0                               0.00         NaN
2014-08-15         0.0                               0.00         NaN
2014-08-22         0.0                               0.92         NaN
2014-08-29         0.0                               0.46         NaN
2014-09-05         0.0                               0.00         NaN
2014-09-12         0.0                               0.00         NaN
2014-09-19         0.0                               0.89         NaN
2014-09-26         0.0                               0.45         NaN
2014-10-03         0.0                               0.44         NaN
2014-10-10         0.0                               1.78         NaN
2014-10-17         0.0                               8.49         NaN
2014-10-24         0.0                               3.12         NaN
2014-10-31         0.0                               0.88         NaN
2014-11-07         0.0                               0.46         NaN
2014-11-14         0.0                               0.00         NaN
2014-11-21         0.0                               0.00         NaN
2014-11-28         0.0                               0.00         NaN
2014-12-05         0.0                               0.00         NaN
2014-12-12         0.0                               0.47         NaN
2014-12-19         0.0                               0.94         NaN
2014-12-26         0.0                               2.55         NaN

[782 rows x 3 columns]

In [8]:
df_seasonal

            trade_Trade Policy EMV Fraction
2000-01-07                              NaN
2000-01-14                              NaN
2000-01-21                              NaN
2000-01-28                         0.033573
2000-02-04                              NaN
2000-02-11                              NaN
2000-02-18                              NaN
2000-02-25                              NaN
2000-03-03                              NaN
2000-03-10                              NaN
2000-03-17                              NaN
2000-03-24                              NaN
2000-03-31                              NaN
2000-04-07                              NaN
2000-04-14                              NaN
2000-04-21                              NaN
2000-04-28                         0.033755
2000-05-05                              NaN
2000-05-12                              NaN
2000-05-19                              NaN
2000-05-26                              NaN
2000-06-02                              NaN
2000-06-09                              NaN
2000-06-16                              NaN
2000-06-23                              NaN
2000-06-30                              NaN
2000-07-07                              NaN
2000-07-14                              NaN
2000-07-21                              NaN
2000-07-28                         0.032609
...                                     ...
2014-06-06                              NaN
2014-06-13                              NaN
2014-06-20                              NaN
2014-06-27                              NaN
2014-07-04                              NaN
2014-07-11                              NaN
2014-07-18                              NaN
2014-07-25                              NaN
2014-08-01                              NaN
2014-08-08                              NaN
2014-08-15                              NaN
2014-08-22                              NaN
2014-08-29                              NaN
2014-09-05                              NaN
2014-09-12                              NaN
2014-09-19                              NaN
2014-09-26                              NaN
2014-10-03                              NaN
2014-10-10                              NaN
2014-10-17                              NaN
2014-10-24                              NaN
2014-10-31                              NaN
2014-11-07                              NaN
2014-11-14                              NaN
2014-11-21                              NaN
2014-11-28                         0.013889
2014-12-05                              NaN
2014-12-12                              NaN
2014-12-19                              NaN
2014-12-26                              NaN

[782 rows x 1 columns]

In [9]:
df_trended

            sp500_Volume  Overall EMV Tracker
2000-01-07  1.225200e+09                  NaN
2000-01-14  1.085900e+09                  NaN
2000-01-21  1.209800e+09                  NaN
2000-01-28  1.095800e+09            24.412899
2000-02-04  1.045100e+09                  NaN
2000-02-11  1.025700e+09                  NaN
2000-02-18  1.042300e+09                  NaN
2000-02-25  1.065200e+09                  NaN
2000-03-03  1.150300e+09                  NaN
2000-03-10  1.138800e+09                  NaN
2000-03-17  1.295100e+09                  NaN
2000-03-24  1.052200e+09                  NaN
2000-03-31  1.227400e+09                  NaN
2000-04-07  8.916000e+08                  NaN
2000-04-14  1.279700e+09                  NaN
2000-04-21           NaN                  NaN
2000-04-28  9.846000e+08            43.429073
2000-05-05  8.055000e+08                  NaN
2000-05-12  8.582000e+08                  NaN
2000-05-19  8.537000e+08                  NaN
2000-05-26  7.226000e+08                  NaN
2000-06-02  1.162400e+09                  NaN
2000-06-09  7.860000e+08                  NaN
2000-06-16  1.250800e+09                  NaN
2000-06-23  8.476000e+08                  NaN
2000-06-30  1.459700e+09                  NaN
2000-07-07  9.317000e+08                  NaN
2000-07-14  9.606000e+08                  NaN
2000-07-21  9.683000e+08                  NaN
2000-07-28  9.800000e+08            20.327751
...                  ...                  ...
2014-06-06  2.864300e+09                  NaN
2014-06-13  2.598230e+09                  NaN
2014-06-20  4.336240e+09                  NaN
2014-06-27  4.290590e+09                  NaN
2014-07-04           NaN                  NaN
2014-07-11  2.684630e+09                  NaN
2014-07-18  3.106060e+09                  NaN
2014-07-25  2.638960e+09                  NaN
2014-08-01  3.789660e+09                  NaN
2014-08-08  2.902280e+09                  NaN
2014-08-15  3.023380e+09                  NaN
2014-08-22  2.301860e+09                  NaN
2014-08-29  2.259130e+09                  NaN
2014-09-05  2.818300e+09                  NaN
2014-09-12  3.206570e+09                  NaN
2014-09-19  4.880220e+09                  NaN
2014-09-26  2.929440e+09                  NaN
2014-10-03  3.560970e+09                  NaN
2014-10-10  4.550540e+09                  NaN
2014-10-17  4.482120e+09                  NaN
2014-10-24  3.078380e+09                  NaN
2014-10-31  4.292290e+09                  NaN
2014-11-07  3.704280e+09                  NaN
2014-11-14  3.227130e+09                  NaN
2014-11-21  3.916420e+09                  NaN
2014-11-28  2.504640e+09            13.894961
2014-12-05  3.419620e+09                  NaN
2014-12-12  4.157650e+09                  NaN
2014-12-19  6.465530e+09                  NaN
2014-12-26  1.735230e+09                  NaN

[782 rows x 2 columns]

In [10]:
df_trend_and_seasonal

,sp500_Close,vix_Close,dji_Close,dji_Volume,ndx_Close,ndx_Volume,n225_Close,n225_Volume,ftse_Close,ftse_Volume,hsi_Close,hsi_Volume,n100_Close,n100_Volume,trade_US Trade Policy Uncertainty,trade_Japanese Trade Policy Uncertainty
2000-01-07,1441.469971,21.719999,11522.559570,184900000.0,3529.600098,1.634930e+09,18193.410156,0.0,6504.799805,8.883060e+08,15405.629883,0.000000e+00,943.880005,0.0,NaN,NaN
2000-01-14,1465.150024,19.660000,11722.980469,266830000.0,3704.739990,1.656630e+09,18956.550781,0.0,6658.200195,1.098626e+09,15542.230469,0.000000e+00,973.859985,0.0,NaN,NaN
2000-01-21,1441.359985,20.820000,11251.709961,205840000.0,3849.959961,1.923680e+09,18878.089844,0.0,6346.299805,1.007934e+09,15108.410156,0.000000e+00,951.510010,0.0,NaN,NaN
2000-01-28,1360.160034,26.139999,10738.870117,183090000.0,3446.129883,1.616370e+09,19434.779297,0.0,6375.600098,9.182270e+08,16185.940430,0.000000e+00,948.210022,0.0,71.914247,117.577146
2000-02-04,1424.369995,21.540001,10963.799805,166590000.0,3874.370117,1.751450e+09,19763.130859,0.0,6185.000000,2.309287e+09,NaN,NaN,1010.429993,0.0,NaN,NaN
2000-02-11,1387.119995,24.420000,10425.209961,193540000.0,3968.889893,1.738590e+09,NaN,NaN,6193.299805,3.433671e+09,17380.300781,0.000000e+00,1014.169983,0.0,NaN,NaN
2000-02-18,1346.089966,26.000000,10219.519531,208930000.0,3965.750000,1.898410e+09,19789.029297,0.0,6165.000000,1.098726e+09,16599.160156,0.000000e+00,992.530029,0.0,NaN,NaN
2000-02-25,1333.359985,25.200001,9862.120117,195240000.0,4178.580078,1.825500e+09,19817.880859,0.0,6198.000000,1.181230e+09,17200.980469,0.000000e+00,1004.719971,0.0,NaN,NaN
2000-03-03,1409.170044,19.209999,10367.200195,210460000.0,4442.870117,2.136530e+09,19927.539063,0.0,6487.500000,1.107792e+09,17285.240234,0.000000e+00,1042.400024,0.0,NaN,NaN
2000-03-10,1395.069946,21.240000,9928.820313,197440000.0,4587.160156,1.992170e+09,19750.400391,0.0,6568.700195,1.005534e+09,17831.859375,0.000000e+00,1045.270020,0.0,NaN,NaN
2000-03-17,1464.469971,22.370001,10595.230469,247830000.0,4440.450195,1.691530e+09,19566.320313,0.0,6558.000000,1.309177e+09,17082.990234,0.000000e+00,1022.119995,0.0,NaN,NaN
2000-03-24,1527.459961,23.309999,11112.719727,217140000.0,4691.609863,1.688970e+09,19958.080078,0.0,6738.500000,1.088155e+09,17784.570313,0.000000e+00,1029.660034,0.0,NaN,NaN
2000-03-31,1498.579956,24.110001,10921.919922,179590000.0,4397.839844,2.118100e+09,20337.320313,0.0,6540.200195,1.019644e+09,17406.539063,0.000000e+00,1021.219971,0.0,NaN,NaN
2000-04-07,1516.349976,24.389999,11111.480469,156500000.0,4291.529785,1.563430e+09,20252.810547,0.0,6569.899902,8.574380e+08,16941.679688,0.000000e+00,1029.969971,0.0,NaN,NaN
2000-04-14,1356.560059,33.490002,10305.769531,267580000.0,3207.959961,2.555780e+09,20434.679688,0.0,6178.100098,9.964510e+08,16142.759766,0.000000e+00,995.369995,0.0,NaN,NaN
2000-04-21,NaN,NaN,NaN,NaN,NaN,NaN,18252.679688,0.0,NaN,NaN,NaN,NaN,1011.729980,0.0,NaN,NaN
2000-04-28,1452.430054,26.200001,10733.910156,173520000.0,3773.179932,1.583710e+09,17973.699219,0.0,6327.399902,8.821750e+08,15519.299805,0.000000e+00,1042.609985,0.0,82.574216,54.061788
2000-05-05,1432.630005,27.530001,10577.860352,138300000.0,3688.360107,1.197290e+09,NaN,NaN,6238.799805,8.452740e+08,15268.639648,0.000000e+00,1062.689941,0.0,NaN,NaN
2000-05-12,1420.959961,26.049999,10609.370117,137770000.0,3406.250000,1.220040e+09,17357.859375,0.0,6283.500000,8.702520e+08,15111.940430,0.000000e+00,1060.589966,0.0,NaN,NaN
2000-05-19,1406.949951,25.440001,10626.849609,188270000.0,3260.639893,1.366930e+09,16858.169922,0.0,6045.399902,9.370820e+08,14478.259766,0.000000e+00,1033.619995,0.0,NaN,NaN
2000-05-26,1378.020020,24.469999,10299.240234,129200000.0,3101.439941,1.069440e+09,16008.139648,0.0,6216.899902,7.782430e+08,13722.700195,0.000000e+00,1013.340027,0.0,NaN,NaN
2000-06-02,1477.260010,21.480000,10794.759766,200900000.0,3755.669922,1.903210e+09,16800.060547,0.0,6626.399902,1.324934e+09,15284.099609,0.000000e+00,1086.329956,0.0,NaN,NaN
2000-06-09,1456.949951,22.139999,10614.059570,136750000.0,3760.260010,1.268720e+09,16861.910156,0.0,6443.799805,6.617660e+08,16120.259766,0.000000e+00,1073.290039,0.0,NaN,NaN
2000-06-16,1464.459961,20.500000,10449.299805,233100000.0,3787.360107,1.501190e+09,16318.309570,0.0,6526.000000,8.108170e+08,16434.380859,0.000000e+00,1068.609985,0.0,NaN,NaN
2000-06-23,1441.479980,22.340000,10404.750000,142390000.0,3685.300049,1.344960e+09,16963.210938,0.0,6391.500000,8.185850e+08,15738.080078,0.000000e+00,1078.400024,0.0,NaN,NaN
2000-06-30,1454.599976,19.540001,10447.889648,224060000.0,3763.790039,2.066390e+09,17411.050781,0.0,6312.700195,9.252250e+08,16155.780273,0.000000e+00,1064.060059,0.0,NaN,NaN
2000-07-07,1478.900024,19.219999,10635.980469,158820000.0,3841.270020,1.486480e+09,17398.240234,0.0,6497.500000,7.932810e+08,16829.960938,0.000000e+00,1079.359985,0.0,NaN,NaN
2000-07-14,1509.979980,19.320000,10812.750000,150970000.0,4041.149902,1.678610e+09,17142.900391,0.0,6475.399902,8.260630e+08,17586.160156,0.000000e+00,1088.099976,0.0,NaN,NaN
2000-07-21,1480.189941,18.940001,10733.559570,170710000.0,3908.750000,1.545940e+09,16811.490234,0.0,6378.399902,6.981530e+08,17920.859375,0.000000e+00,1072.969971,0.0,NaN,NaN
2000-07-28,1419.890015,20.840000,10511.169922,174720000.0,3477.310059,1.769410e+09,15838.570313,0.0,6335.700195,9.470970e+08,17183.929688,0.000000e+00,1062.339966,0.0,60.773016,80.475451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-06-06,1949.439941,10.730000,16924.279297,80530000.0,3794.570068,1.616650e+09,15077.240234,134800.0,6858.200195,7.748665e+08,22951.000000,1.793942e+09,863.140015,309826300.0,NaN,NaN
2014-06-13,1936.160034,12.180000,16775.740234,95220000.0,3775.560059,1.754560e+09,15097.839844,172200.0,6777.899902,6.406146e+08,23319.169922,1.564424e+09,859.479980,208097600.0,NaN,NaN
2014-06-20,1962.869995,10.850000,16947.080078,247350000.0,3802.639893,2.721380e+09,15349.419922,190000.0,6825.200195,1.020446e+09,23194.060547,1.341638e+09,860.760010,384298100.0,NaN,NaN
2014-06-27,1960.959961,11.260000,16851.839844,137690000.0,3844.439941,3.964930e+09,15095.000000,131000.0,6757.799805,5.169869e+08,23221.519531,1.193749e+09,842.349976,238243900.0,NaN,NaN
2014-07-04,NaN,NaN,NaN,NaN,NaN,NaN,15437.129883,108800.0,6866.100098,3.293635e+08,23546.359375,1.116919e+09,850.789978,173443800.0,NaN,NaN
2014-07-11,1967.569946,12.080000,16943.810547,61000000.0,3904.580078,1.511250e+09,15164.040039,123600.0,6690.200195,5.331748e+08,23233.449219,1.123092e+09,822.359985,310172200.0,NaN,NaN
2014-07-18,1978.219971,12.060000,17100.179688,112530000.0,3939.889893,1.823580e+09,15215.709961,92200.0,6749.500000,5.855902e+08,23454.789063,9.133076e+08,826.010010,263830700.0,NaN,NaN
2014-07-25,1978.339966,12.690000,16960.570313,67290000.0,3965.169922,1.711430e+09,15457.870117,119900.0,6791.600098,6.616200e+08,24216.009766,1.637301e+09,826.929993,245756900.0,NaN,NaN
2014-08-01,1925.150024,17.030001,16493.369141,84860000.0,3879.669922,2.050340e+09,15523.110352,143300.0,6679.200195,6.953348e+08,24532.429688,1.755873e+09,804.359985,613117300.0,NaN,NaN
2014-08-08,1931.589966,15.770000,16553.929688,82420000.0,3888.090088,1.759060e+09,14778.370117,177200.0,6567.399902,6.454234e+08,24331.410156,1.341693e+09,792.320007,254004400.0,NaN,NaN
2014-08-15,1955.060059,13.150000,16662.910156,109180000.0,3987.510010,1.799460e+09,15318.339844,88700.0,6689.100098,5.455810e+08,24954.939453,1.150211e+09,801.690002,204916600.0,NaN,NaN
2014-08-22,1988.400024,11.470000,17001.220703,64330000.0,4052.750000,1.311810e+09,15539.190430,102300.0,6775.299805,5.715226e+08,25112.230469,1.183283e+09,817.880005,156599900.0,NaN,NaN
2014-08-29,2003.369995,12.090000,17098.449219,81500000.0,4082.560059,1.352830e+09,15424.589844,111000.0,6819.799805,7.209786e+08,24742.060547,1.711541e+09,836.929993,186753200.0,NaN,NaN
2014-09-05,2007.709961,12.090000,17137.359375,76630000.0,4089.919922,1.641830e+09,15668.679688,109600.0,6855.100098,5.965498e+08,25240.150391,2.163836e+09,855.369995,203188700.0,NaN,NaN
2014-09-12,1985.540039,13.310000,16987.509766,82820000.0,4069.229980,1.784180e+09,15948.290039,183400.0,6807.000000,5.529748e+08,24595.320313,1.233952e+09,846.530029,140372800.0,NaN,NaN
2014-09-19,2010.400024,12.110000,17279.740234,349620000.0,4100.089844,3.178490e+09,16321.169922,171300.0,6837.899902,1.551958e+09,24306.160156,1.924823e+09,853.409973,345934900.0,NaN,NaN
2014-09-26,1982.849976,14.850000,17113.150391,74670000.0,4053.719971,1.637480e+09,16229.860352,127400.0,6649.399902,5.892215e+08,23678.410156,1.341459e+09,840.489990,188007700.0,NaN,NaN
2014-10-03,1967.900024,14.550000,17009.689453,87940000.0,4027.310059,1.777640e+09,15708.650391,139700.0,6527.899902,7.506131e+08,23064.560547,2.577564e+09,821.950012,201329200.0,NaN,NaN
2014-10-10,1906.130005,21.240000,16544.099609,136370000.0,3870.860107,2.765750e+09,15300.549805,186100.0,6340.000000,8.977084e+08,23088.539063,1.401320e+09,787.690002,360377500.0,NaN,NaN
2014-10-17,1886.760010,21.990000,16380.410156,137910000.0,3815.469971,2.260070e+09,14532.509766,178600.0,6310.299805,1.106053e+09,23023.210938,1.853604e+09,777.349976,419634200.0,NaN,NaN
2014-10-24,1964.579956,16.110001,16805.410156,90400000.0,4042.020020,1.754300e+09,15291.639648,121800.0,6388.700195,7.178279e+08,23302.199219,1.201348e+09,796.119995,222002700.0,NaN,NaN
2014-10-31,2018.050049,14.030000,17390.519531,121610000.0,4158.209961,2.424360e+09,16413.759766,268500.0,6546.500000,1.062915e+09,23998.060547,2.057440e+09,819.479980,343769400.0,NaN,NaN
2014-11-07,2031.920044,13.120000,17573.929688,82860000.0,4160.500000,1.978830e+09,16880.380859,153300.0,6567.200195,7.649551e+08,23550.240234,1.609860e+09,813.669983,674505800.0,NaN,NaN
2014-11-14,2039.819946,13.310000,17634.740234,72850000.0,4224.990234,1.739950e+09,17490.830078,196000.0,6654.399902,6.275351e+08,24087.380859,1.489760e+09,815.929993,433375700.0,NaN,NaN
2014-11-21,2063.500000,12.900000,17810.060547,140940000.0,4251.319824,1.854340e+09,17357.509766,156300.0,6750.799805,8.455754e+08,23437.119141,1.519033e+09,841.979980,644845400.0,NaN,NaN
2014-11-28,2067.560059,13.330000,17828.240234,80470000.0,4337.790039,9.986000e+08,17459.849609,149100.0,6722.600098,8.393905e+08,23987.449219,3.154787e+09,850.539978,391537000.0,22.607562,65.974280
2014-12-05,2075.370117,11.890000,17958.789063,79110000.0,4311.569824,1.767100e+09,17920.449219,128900.0,6742.799805,6.784647e+08,24002.640625,5.025801e+09,860.190002,465784400.0,NaN,NaN
2014-12-12,2002.329956,21.080000,17280.830078,121950000.0,4199.279785,1.888870e+09,17371.580078,214500.0,6300.600098,7.939665e+08,23249.199219,1.641040e+09,805.429993,445451700.0,NaN,NaN
2014-12-19,2070.649902,16.490000,17804.800781,343690000.0,4281.779785,3.287920e+09,17621.400391,175800.0,6545.299805,1.144608e+09,23116.630859,2.309125e+09,831.929993,849928700.0,NaN,NaN
2014-12-26,2088.770020,14.500000,18053.710938,52570000.0,4314.089844,9.302200e+08,17818.960938,86500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
### Na biblioteca, criar uma variavel temp pra fazer as transformações, mas na hora de adicionar no df paticionado adicionar a variavel original