## This notebook inputs the missing values using Mean Imputation

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
from sklearn.impute import SimpleImputer

#### Choose wether the imputation should be done on the data set with daily or weekly granularity

In [2]:
INPUT, OUTPUT = 'output/CompleteDengue.csv', 'output/\MeanDengueImputed'

In [3]:
df = pd.read_csv(r'output\/CompleteDengue.csv',index_col=0)
df_train = df.loc['1990-04-30':'2004-06-03'].dropna(how='all', axis=1) #Selecting training data
df_test = df.loc['2004-06-10':, df_train.columns] #Selecting test data
df = df_train

In [4]:
df.tail()

,sj_ndvi_ne,sj_ndvi_nw,sj_ndvi_se,sj_ndvi_sw,sj_precipitation_amt_mm,sj_reanalysis_air_temp_k,sj_reanalysis_avg_temp_k,sj_reanalysis_dew_point_temp_k,sj_reanalysis_max_air_temp_k,sj_reanalysis_min_air_temp_k,...,iq_reanalysis_precip_amt_kg_per_m2,iq_reanalysis_relative_humidity_percent,iq_reanalysis_sat_precip_amt_mm,iq_reanalysis_specific_humidity_g_per_kg,iq_reanalysis_tdtr_k,iq_station_avg_temp_c,iq_station_diur_temp_rng_c,iq_station_max_temp_c,iq_station_min_temp_c,iq_station_precip_mm
2004-05-06,NaN,NaN,0.093150,0.118133,9.57,299.090000,299.207143,294.380000,301.1,297.3,...,56.52,95.115714,83.93,18.511429,8.714286,27.233333,9.933333,33.3,22.0,97.0
2004-05-13,-0.090400,0.118525,0.107633,0.210060,15.78,298.765714,298.914286,295.370000,301.3,297.2,...,45.50,93.897143,34.81,16.778571,5.771429,27.300000,8.400000,33.0,19.5,91.8
2004-05-20,0.052867,0.060167,0.115643,0.129786,96.99,298.121429,298.114286,295.154286,300.0,296.5,...,83.00,91.627143,173.45,17.401429,9.100000,26.650000,7.400000,34.2,22.5,296.9
2004-05-27,-0.025633,-0.008067,0.159114,0.158800,175.41,298.365714,298.457143,295.347143,300.4,297.2,...,42.60,93.575714,35.43,17.500000,9.628571,NaN,NaN,33.3,20.5,28.2
2004-06-03,-0.070550,-0.028540,0.081586,0.113243,13.51,300.054286,300.207143,296.445714,302.2,298.2,...,36.63,94.692857,88.62,17.212857,8.185714,27.500000,9.500000,32.8,19.8,203.0

In [5]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(df)

SimpleImputer()

In [6]:
df_imputed = imp.transform(df)
df_test_imputed = imp.transform(df_test)

In [7]:
df_final = pd.DataFrame(data=df_imputed, index=df.index, columns=df.columns)
df_test_final = pd.DataFrame(data=df_test_imputed, index=df_test.index, columns=df_test.columns)

In [8]:
df_final.head()

,sj_ndvi_ne,sj_ndvi_nw,sj_ndvi_se,sj_ndvi_sw,sj_precipitation_amt_mm,sj_reanalysis_air_temp_k,sj_reanalysis_avg_temp_k,sj_reanalysis_dew_point_temp_k,sj_reanalysis_max_air_temp_k,sj_reanalysis_min_air_temp_k,...,iq_reanalysis_precip_amt_kg_per_m2,iq_reanalysis_relative_humidity_percent,iq_reanalysis_sat_precip_amt_mm,iq_reanalysis_specific_humidity_g_per_kg,iq_reanalysis_tdtr_k,iq_station_avg_temp_c,iq_station_diur_temp_rng_c,iq_station_max_temp_c,iq_station_min_temp_c,iq_station_precip_mm
1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,297.742857,292.414286,299.8,295.9,...,55.120343,87.36652,61.261471,16.700539,9.522969,27.51463,10.775321,34.052451,21.085714,60.347761
1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,298.442857,293.951429,300.9,296.4,...,55.120343,87.36652,61.261471,16.700539,9.522969,27.51463,10.775321,34.052451,21.085714,60.347761
1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,298.878571,295.434286,300.5,297.3,...,55.120343,87.36652,61.261471,16.700539,9.522969,27.51463,10.775321,34.052451,21.085714,60.347761
1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,299.228571,295.310000,301.4,297.0,...,55.120343,87.36652,61.261471,16.700539,9.522969,27.51463,10.775321,34.052451,21.085714,60.347761
1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,299.664286,295.821429,301.9,297.5,...,55.120343,87.36652,61.261471,16.700539,9.522969,27.51463,10.775321,34.052451,21.085714,60.347761

In [9]:
df_final.to_csv(OUTPUT+'_training.csv', index = True)
df_test_final.to_csv(OUTPUT+ '_test.csv', index = True)

In [10]:
df_imputed.shape

(734, 40)