## This notebook merges all indexes using the dates as index and generates one file with daily granularity and one file with weekly granularity

In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
#Daily
v_sp500 = pd.read_csv('input\/S&P500.csv', parse_dates=True)
v_sp500['Date'] = pd.to_datetime(v_sp500['Date'], infer_datetime_format=True)
v_sp500.index = v_sp500['Date'].values
v_sp500 = v_sp500.loc['2000-01-01':'2020-03-18']
v_sp500 = v_sp500.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_sp500 = v_sp500.add_prefix('sp500_')
v_sp500.tail()

            sp500_Close  sp500_Volume
2020-03-12  2480.639893    8829380000
2020-03-13  2711.020020    8258670000
2020-03-16  2386.129883    7781540000
2020-03-17  2529.189941    8358500000
2020-03-18  2398.100098    8755780000

In [3]:
#Daily
v_vix = pd.read_csv('input\/VIX.csv', parse_dates=True)
v_vix['Date'] = pd.to_datetime(v_vix['Date'], infer_datetime_format=True)
v_vix.index = v_vix['Date'].values
v_vix = v_vix.loc['2000-01-01':'2020-03-18']
v_vix = v_vix.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_vix = v_vix.add_prefix('vix_')
v_vix.head()

            vix_Close  vix_Volume
2000-01-03  24.209999           0
2000-01-04  27.010000           0
2000-01-05  26.410000           0
2000-01-06  25.730000           0
2000-01-07  21.719999           0

In [4]:
#Daily
v_dji = pd.read_csv('input\/^DJI.csv', parse_dates=True)
v_dji['Date'] = pd.to_datetime(v_dji['Date'], infer_datetime_format=True)
v_dji.index = v_dji['Date'].values
v_dji = v_dji.loc['2000-01-01':'2020-03-18']
v_dji = v_dji.drop(['Date', 'Adj Close', 'High', 'Low', 'Open', 'High', 'Low', 'Open'], axis=1)
v_dji = v_dji.add_prefix('dji_')
v_dji.head()

               dji_Close  dji_Volume
2000-01-03  11357.509766   169750000
2000-01-04  10997.929688   178420000
2000-01-05  11122.650391   203190000
2000-01-06  11253.259766   176550000
2000-01-07  11522.559570   184900000

In [5]:
#Daily
v_ndx = pd.read_csv('input\/^NDX.csv', parse_dates=True)
v_ndx['Date'] = pd.to_datetime(v_ndx['Date'], infer_datetime_format=True)
v_ndx.index = v_ndx['Date'].values
v_ndx = v_ndx.loc['2000-01-01':'2020-03-18']
v_ndx = v_ndx.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_ndx = v_ndx.add_prefix('ndx_')
v_ndx.head()

              ndx_Close  ndx_Volume
2000-01-03  3790.550049  1510070000
2000-01-04  3546.199951  1511840000
2000-01-05  3507.310059  1735670000
2000-01-06  3340.810059  1598320000
2000-01-07  3529.600098  1634930000

In [6]:
#Daily
v_n225 = pd.read_csv('input\/N225.csv', parse_dates=True)
v_n225['Date'] = pd.to_datetime(v_n225['Date'], infer_datetime_format=True)
v_n225.index = v_n225['Date'].values
v_n225 = v_n225.loc['2000-01-01':'2020-03-18']
v_n225 = v_n225.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_n225 = v_n225.add_prefix('n225_')
v_n225.head()

              n225_Close  n225_Volume
2000-01-04  19002.859375          0.0
2000-01-05  18542.550781          0.0
2000-01-06  18168.269531          0.0
2000-01-07  18193.410156          0.0
2000-01-10           NaN          NaN

In [7]:
#Daily
v_ftse = pd.read_csv('output\/CompleteFTSE.csv', parse_dates=True)
v_ftse['Date'] = pd.to_datetime(v_ftse['Date'], infer_datetime_format=True)
v_ftse.index = v_ftse['Date'].values
v_ftse = v_ftse.loc['2000-01-01':'2020-03-18']
v_ftse = v_ftse.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_ftse = v_ftse.add_prefix('ftse_')
v_ftse.head()

             ftse_Close  ftse_Volume
2000-01-03          NaN          NaN
2000-01-04  6665.899902  633449000.0
2000-01-05  6535.899902  670234000.0
2000-01-06  6447.200195  785532000.0
2000-01-07  6504.799805  888306000.0

In [8]:
#Daily
v_hsi = pd.read_csv('input\/^HSI.csv', parse_dates=True)
v_hsi['Date'] = pd.to_datetime(v_hsi['Date'], infer_datetime_format=True)
v_hsi.index = v_hsi['Date'].values
v_hsi = v_hsi.loc['2000-01-01':'2020-03-18']
v_hsi = v_hsi.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_hsi = v_hsi.add_prefix('hsi_')
v_hsi.head()

               hsi_Close  hsi_Volume
2000-01-03  17369.630859         0.0
2000-01-04  17072.820313         0.0
2000-01-05  15846.719727         0.0
2000-01-06  15153.230469         0.0
2000-01-07  15405.629883         0.0

In [9]:
#Daily
v_n100 = pd.read_csv('input\/^N100.csv')
v_n100['Date'] = pd.to_datetime(v_n100['Date'], infer_datetime_format=True)
v_n100.index = v_n100['Date'].values
v_n100 = v_n100.loc['2000-01-01':'2020-03-18']
v_n100 = v_n100.drop(['Date', 'Adj Close', 'High', 'Low', 'Open'], axis=1)
v_n100 = v_n100.add_prefix('n100_')
v_n100.head()

            n100_Close  n100_Volume
2000-01-03  996.770020          0.0
2000-01-04  955.969971          0.0
2000-01-05  930.260010          0.0
2000-01-06  922.460022          0.0
2000-01-07  943.880005          0.0

In [10]:
#Monthly
v_emv =  pd.read_excel('input\/EMV_Data.xlsx', error_bad_lines=False) 
Date = v_emv.apply(lambda x: datetime(int(x['Year']),int(x['Month']),28), axis=1)
v_emv['Date'] = Date
v_emv['Date'] = pd.to_datetime(v_emv['Date'], infer_datetime_format=True)
v_emv.index = v_emv['Date'].values
v_emv = v_emv.loc['2000-01-01':'2020-03-18']
v_emv = v_emv[['Overall EMV Tracker']]
v_emv.head()

            Overall EMV Tracker
2000-01-28            24.412899
2000-02-28            19.913437
2000-03-28            26.104673
2000-04-28            43.429073
2000-05-28            34.308361

In [11]:
#Daily
v_infectious = pd.read_csv('input\/All_Infectious_EMV_Data.csv')
Date = v_infectious.apply(lambda x: datetime(int(x['year']),int(x['month']), int(x['day'])), axis=1)
v_infectious['Date'] = Date
v_infectious['Date'] = pd.to_datetime(v_infectious['Date'], infer_datetime_format=True)
v_infectious.index = v_infectious['Date'].values
v_infectious = v_infectious.loc['2000-01-01':'2020-03-18']
v_infectious = v_infectious.drop(['Date', 'day', 'month', 'year'], axis=1)
v_infectious = v_infectious.add_prefix('infectious_')
v_infectious.head()

            infectious_daily_infect_emv_index
2000-01-01                               1.05
2000-01-02                               2.62
2000-01-03                               0.00
2000-01-04                               0.99
2000-01-05                               0.00

In [12]:
#Quarterly - might not use
v_financial_stress = pd.read_excel('input\/Financial_Stress.xlsx')
Date = v_financial_stress.apply(lambda x: datetime(int(x['year']),int(x['quarter'])*3, 28), axis=1)
v_financial_stress['Date'] = Date
v_financial_stress['Date'] = pd.to_datetime(v_financial_stress['Date'], infer_datetime_format=True)
v_financial_stress.index = v_financial_stress['Date'].values
v_financial_stress = v_financial_stress.loc['2000-01-01':'2020-03-18']
v_financial_stress = v_financial_stress.drop(['date', 'Date', 'quarter', 'year'], axis=1)
v_financial_stress = v_financial_stress.add_prefix('financial_')
v_financial_stress.head()

            financial_indicator
2000-03-28           101.588292
2000-06-28           101.361929
2000-09-28           100.836200
2000-12-28           101.377272
2001-03-28           102.227537

In [13]:
#Monthly
v_gpr = pd.read_excel('input\/gpr_web_latest.xlsx')
v_gpr['Date'] = pd.to_datetime(v_gpr['Date'], infer_datetime_format=True)
v_gpr.index = v_gpr['Date'].values
v_gpr = v_gpr.loc['2000-01-01':'2020-03-18']
v_gpr = v_gpr[['GPR']]
v_gpr.head()

                  GPR
2000-01-01  40.634806
2000-02-01  34.391162
2000-03-01  54.098793
2000-04-01  35.769024
2000-05-01  34.094887

In [14]:
#Monthly
v_trade_uncertainty = pd.read_excel('input\/Trade_Uncertainty_Data.xlsx') 
Date = v_trade_uncertainty.apply(lambda x: datetime(int(x['Year']),int(x['Month']),28), axis=1)
v_trade_uncertainty['Date'] = Date
v_trade_uncertainty['Date'] = pd.to_datetime(v_trade_uncertainty['Date'], infer_datetime_format=True)
v_trade_uncertainty.index = v_trade_uncertainty['Date'].values
v_trade_uncertainty = v_trade_uncertainty.loc['2000-01-01':'2020-03-18']
v_trade_uncertainty = v_trade_uncertainty.drop(['Date', 'Year', 'Month'], axis=1)
v_trade_uncertainty = v_trade_uncertainty.add_prefix('trade_')
v_trade_uncertainty.head()

,trade_US Trade Policy Uncertainty,trade_Japanese Trade Policy Uncertainty,trade_Trade Policy EMV Fraction
2000-01-28,71.914247,117.577146,0.033573
2000-02-28,50.352413,58.499365,0.026471
2000-03-28,88.179754,31.808480,0.028139
2000-04-28,82.574216,54.061788,0.033755
2000-05-28,245.009584,73.961645,0.025000

In [15]:
df = pd.concat([v_sp500, v_vix, v_dji, v_ndx, v_n225, v_ftse, v_hsi, v_n100, v_emv, v_infectious, v_gpr, v_trade_uncertainty], axis=1, join='outer')

In [16]:
at_least_one_value_missing = df.apply(lambda x: (len(x)-x.count())>=1, axis=1)

In [17]:
at_least_one_value_missing.value_counts()

True    7383
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7383 entries, 2000-01-01 to 2020-03-18
Data columns (total 22 columns):
sp500_Close                                5084 non-null float64
sp500_Volume                               5084 non-null float64
vix_Close                                  5084 non-null float64
vix_Volume                                 5084 non-null float64
dji_Close                                  5084 non-null float64
dji_Volume                                 5084 non-null float64
ndx_Close                                  5084 non-null float64
ndx_Volume                                 5084 non-null float64
n225_Close                                 4952 non-null float64
n225_Volume                                4952 non-null float64
ftse_Close                                 4869 non-null float64
ftse_Volume                                4869 non-null float64
hsi_Close                                  4977 non-null float64
hsi_Volume                                 4977 non-null float64
n100_Close                                 5166 non-null float64
n100_Volume                                5166 non-null float64
Overall EMV Tracker                        242 non-null float64
infectious_daily_infect_emv_index          7383 non-null float64
GPR                                        243 non-null float64
trade_US Trade Policy Uncertainty          235 non-null float64
trade_Japanese Trade Policy Uncertainty    235 non-null float64
trade_Trade Policy EMV Fraction            235 non-null float64
dtypes: float64(22)
memory usage: 1.3 MB

In [19]:
df.to_csv(r'output\/CompleteIndexes.csv', index = True)

In [20]:
# Generating weekly sampled dataset
df_friday = datetime(2000,1,7)

df_weekly = pd.DataFrame(columns = df.columns)
df_out_weekly = pd.DataFrame(columns = df.columns)


while df_friday <= df.tail(1).index:
    df_weekly = df_weekly.append(df.loc[df_friday])
    df_friday+=timedelta(days=7)

In [21]:
df_weekly.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1054 entries, 2000-01-07 to 2020-03-13
Data columns (total 22 columns):
sp500_Close                                1021 non-null float64
sp500_Volume                               1021 non-null float64
vix_Close                                  1021 non-null float64
vix_Volume                                 1021 non-null float64
dji_Close                                  1021 non-null float64
dji_Volume                                 1021 non-null float64
ndx_Close                                  1021 non-null float64
ndx_Volume                                 1021 non-null float64
n225_Close                                 1009 non-null float64
n225_Volume                                1009 non-null float64
ftse_Close                                 978 non-null float64
ftse_Volume                                978 non-null float64
hsi_Close                                  993 non-null float64
hsi_Volume                                 993 non-null float64
n100_Close                                 1024 non-null float64
n100_Volume                                1024 non-null float64
Overall EMV Tracker                        36 non-null float64
infectious_daily_infect_emv_index          1054 non-null float64
GPR                                        35 non-null float64
trade_US Trade Policy Uncertainty          35 non-null float64
trade_Japanese Trade Policy Uncertainty    35 non-null float64
trade_Trade Policy EMV Fraction            35 non-null float64
dtypes: float64(22)
memory usage: 189.4 KB

In [22]:
df_weekly.to_csv(r'output\/CompleteWeeklyIndexes.csv', index = True)

In [23]:
df_weekly.shape

(1054, 22)

In [24]:
df_weekly.describe()

,sp500_Close,sp500_Volume,vix_Close,vix_Volume,dji_Close,dji_Volume,ndx_Close,ndx_Volume,n225_Close,n225_Volume,...,hsi_Close,hsi_Volume,n100_Close,n100_Volume,Overall EMV Tracker,infectious_daily_infect_emv_index,GPR,trade_US Trade Policy Uncertainty,trade_Japanese Trade Policy Uncertainty,trade_Trade Policy EMV Fraction
count,1021.000000,1.021000e+03,1021.000000,1021.0,1021.000000,1.021000e+03,1021.000000,1.021000e+03,1009.000000,1009.000000,...,993.000000,9.930000e+02,1024.000000,1.024000e+03,36.000000,1054.000000,35.000000,35.000000,35.000000,35.000000
mean,1594.558660,3.128864e+09,19.376846,0.0,14209.324425,2.420685e+08,3106.629831,1.961876e+09,14326.509152,114205.252725,...,19740.827429,1.338822e+09,809.957138,2.060563e+08,22.392006,0.559867,98.178842,136.874575,152.748665,0.045436
std,608.624842,1.581151e+09,8.673888,0.0,5391.147345,1.352956e+08,2006.289369,5.518044e+08,4484.573181,67830.570628,...,5753.759129,9.844971e+08,176.068714,1.810054e+08,8.457237,2.324099,46.803316,245.403109,139.896396,0.069614
min,683.380005,3.560700e+08,9.140000,0.0,6626.939941,1.995000e+07,815.400024,3.174000e+07,7173.100098,0.000000,...,8409.009766,0.000000e+00,436.239990,0.000000e+00,11.617693,0.000000,31.498811,18.482397,23.492212,0.006231
25%,1152.119995,1.640160e+09,13.330000,0.0,10416.410156,1.507500e+08,1599.439941,1.650810e+09,10303.830078,71700.000000,...,14786.459961,3.513072e+08,657.854996,0.000000e+00,16.303862,0.000000,63.500771,41.912311,70.783400,0.013117
50%,1365.739990,3.191080e+09,17.110001,0.0,12169.879883,2.258200e+08,2221.090088,1.898410e+09,13861.290039,115700.000000,...,20677.660156,1.412876e+09,808.609985,2.132540e+08,19.779116,0.000000,92.017897,72.408562,103.274648,0.025591
75%,2007.709961,3.966000e+09,22.870001,0.0,17164.949219,3.014100e+08,4281.779785,2.195010e+09,17484.779297,154800.000000,...,23605.710938,1.930548e+09,972.597519,3.189447e+08,26.287055,0.580000,128.893171,119.670126,163.202278,0.035244
max,3380.159912,1.145623e+10,79.129997,0.0,29398.080078,2.190810e+09,9623.580078,5.301170e+09,24120.039063,477400.000000,...,33154.121094,6.690249e+09,1174.349976,1.095260e+09,43.429073,50.910000,214.361523,1374.280098,657.054622,0.300699